<ion-header>
  <ion-toolbar>
    <ion-title>Controle de Humor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-card>
    <ion-card-header>Humor:</ion-card-header>
    <ion-card-content>
      <ion-range min="-100" max="100">
        <ion-label>
          <ion-icon name="sad"></ion-icon>
        </ion-label>
        <ion-label>
          <ion-icon name="happy"></ion-icon> <!-- deveria estar no lado direito -->
        </ion-label>
      </ion-range>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Registros anteriores:</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>1</ion-item>
        <ion-item>2</ion-item>
        <ion-item>3</ion-item>
        <ion-item>4</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
