<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button  defaultHref="/welcome"></ion-back-button>
          </ion-buttons>
      <ion-title>Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-card>
    <img src="../../assets/images/unesp-logo.png" alt="Logo unesp">
    <ion-card-content>
      <ion-card-title>Appsico - Sobre</ion-card-title>
      <p>
        Protótipo de aplicativo móvel destinado à auxiliar um terapeuta (psicólogo) a melhor atender seus pacientes.
      </p>
      <p>
        Desenvolvido pelos estudantes Denis Akira, João Vitor Lopes e Paulo Hortelan do curso de computação da Unesp Bauru para a disciplina de engneharia de software.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
