<ion-tabs>
  <ion-tab label="Home" icon="home" href="/app/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="About" icon="information-circle" href="/app/tabs/(about:about)">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Contact" icon="contacts" href="/app/tabs/(contact:contact)">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Enfrentamento" icon="card" href="/app/tabs/(enfrentamento:enfrentamento)">
    <ion-router-outlet name="enfrentamento"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Pensamento Automático" icon="cloud-outline" href="/app/tabs/(pensamento:pensamento)">
    <ion-router-outlet name="pensamento"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
