<ion-header>
  <ion-toolbar>
    <ion-title>Cartões de Enfrentamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Slider -->
  <ion-slides pager="true" margin-bottom>
    <ion-slide class="slider" *ngFor="let cartao of cartoes">
      <ion-card>
        <img class="slider--img" [src]="cartao.foto" alt="image">
        <p class="slider--text">{{ cartao.descricao }}</p>
      </ion-card>
      <ion-button (click)="onClick(cartao)" fill="outline" expand="block">
        <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
        Concluído
      </ion-button>
    </ion-slide>
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>