@import url('https://fonts.googleapis.com/css?family=Charmonman|Old+Standard+TT');

h1 {
    font-family: 'Old Standard TT',
        serif;
}

.add-new {
    height: calc(100% - $range-ios-slider-height);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.slider {
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;

    .slider--img {
        max-height: 50vh;
        object-fit: cover;

        img {
            object-fit: cover;
        }
    }

    .slider--text {
        max-height: 12vh;
    }
}