
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">    
          <div padding>
            <ion-button size="large" href="/entrar" expand="block">Entrar</ion-button>
            <ion-button expand="block" color="secondary" href="/register" routerDirection="forward">Cadastre-se</ion-button>
            <ion-button expand="block" color="secondary" href="/sobre" routerDirection="forward">Sobre</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

