<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Seção de boas vindas ao usuário -->
  <div class="welcome" padding>
    <div class="welcome--text">
      <h2>Olá, {{ (user | async)?.nome }}!</h2>

      <p>Terapeuta: {{ (user | async)?.terapeuta }}</p>
    </div>
    <div class="welcome--photo">
      <img src="/assets/images/mailbox-opt.jpg" alt="avatar">
    </div>
  </div>

  <!-- Seção das tarefas -->
  <div class="tasks" padding>
    <h2>Tarefas</h2>
    <ion-list *ngFor="let item of items">
      <ion-item>
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Seção do contato com o terapeuta -->
  <ion-card class="contact">
    <ion-img class="contact--img" src="/assets/images/contact-3-opt.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Converse com seu terapeuta</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contact--form">
      <ion-item class="contact--input">
        <ion-input 
          required type="text" 
          placeholder="Mensagem"
        ></ion-input>
      </ion-item>
      <ion-button (click)="sendMessage()" class="contact--btn">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>