<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header" padding>
    <h2>Olá, {{ user }}!</h2>
    <p>Terapeuta: {{ terapeuta }}</p>
  </div>
  <div class="tarefas" padding>
    <h3>Tarefas</h3>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-card>
    <!-- <ion-img src="/assets/myImg.png"></ion-img> -->
    <ion-card-header>
      <ion-card-title>Mensagem</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <p>The content for this card</p> -->
      <ion-label>Mensagem</ion-label>
      <ion-input type="text" placeholder="Mensagem"></ion-input>
    </ion-card-content>
  </ion-card>

</ion-content>
